body{
	margin-left: 0px;
	margin-right:0px;
	margin-top:0px;
	margin:0px;
	background-color: #BEB7F2;
}


.tweet-list{
	margin-top:45px;
	min-width:250px;
	max-width:500px;

}

.tweet:hover{
	background-color:#F2EFFF;
}
.tweet{
  margin-left: 5px;
  margin-right:5px;
  margin-top: 3px;
  position: relative;
  text-align: left;
  min-height: 49px;
  max-height: 100px;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 3px;
  font-family:'HelveticaNeue-Light';

}

#load-tweets-button{
	float:right;
	padding-top:4px;
	color:#807cA6;
	padding-right: 20px;
	text-decoration: none;
	font-size:22px;
}

#load-tweets-button:hover{
	text-decoration: underline;
}

#title-link{
	text-decoration: none;
	color:#807cA6;
}

#title-link:hover{
	text-decoration: underline;	
	color:#807cA6;
}
#goto-profile-button{
	text-decoration: none;
}
#goto-profile-button:hover{
	text-decoration: underline;
}

#user-link{
	text-decoration: none;
	color:black;
}

#user-link:hover{
	text-decoration: underline;
	color:black;
}

#topBar{
	height:35px;
	font-family:"HelveticaNeue-Light";
	font-size:25px;
	position:fixed;
	width:100%;
	z-index: 2;
	font-weight:bold;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;	
	margin:0px;
	top:0;
	padding-left: 5px;
	color:#807CA6;
	background-color: white;
	vertical-align: center;
}

.hidden{
	display:none;

}
#userName{
	display:inline;
	font-weight: bold;
	font-size: 13px;

}

#tweetMessage{
	padding-left:10px;
	padding-top:3px;
	color:#4A4B4C;
	font-size:18px;


}

#tweetDate{
	position: relative;
	display: inline;
	text-align: right;
	padding-right: 10px;
	float: right;
	font-size:12px;

}

